<!DOCTYPE html>
<html>
<head>
  <title>Walk.ly</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/underscore/underscore-min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/js/app.js"></script>

  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  
</head>
<body class="full-width">
	<div class="container">
		<div class="row">
			<h1 id="title" class="text-center"><strong id="titletext">Walk.ly</strong></h1>
		</div>

		<div  class="shadow">
			<img src="/static/images/shadow.png">
		</div>


		<div class="modals">
			<button type="button" class="modal-style btn btn-primary btn-lg" data-toggle="modal" data-target="#sign-up-modal" data-whatever="@mdo">Sign-up</button>
			<button type="button" class="modal-style btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal" data-whatever="@mdo">Log-in</button>
		</div>




		<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">Create your profile and start exploring</h4>
		      </div>
		      <div class="modal-body">
		        <form method="POST" action="/signup" id="sign-up">
		          <div class="form-group">
		            <input name="signUpGivenName" type="text" class="form-control" id="signUpGivenName" placeholder="First Name" required>
		          </div>
		          <div class="form-group">
		            <input name="signUpsurame" type="text" class="form-control" id="signUpsurame" placeholder="Last Name" required>
		          </div>
		          <div class="form-group">
		            <input name="signUpEmail" type="text" class="form-control" id="signUpEmail" placeholder="Email" required>
		          </div>
		          <div class="form-group" >
					<input name="signUpPassword" type="password" class="form-control" id="signUpPassword" placeholder="Password" required>
		          </div>
		          <div class="modal-footer">
		       		<button type="submit" class="btn btn-primary">Sign Up</button>
		      	  </div>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">Login to your account</h4>
		      </div>
		      <div class="modal-body">
		        <form method="POST" action="/login" id="login">
		          <div class="form-group">
		            <input name="loginEmail" type="text" class="form-control" id="loginEmail" placeholder="Email" required>
		          </div>
		          <div class="form-group" >
					<input name="loginPassword" type="password" class="form-control" id="loginPassword" placeholder="Password" required>
		          </div>
		          <div class="modal-footer">
		       		<button type="submit" class="btn btn-primary">Login</button>
		      	  </div>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
	

	</div>
</body>
</html>