<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>A simple map</title>
		  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <!-- jQuery -->
		  <script src="/vendor/jquery/dist/jquery.min.js"></script>
		  <!-- Underscore -->
		  <script src="/vendor/underscore/underscore-min.js"></script>
		  <!-- Bootstrap JS -->
		  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
		  <!-- Bootstrap CSS -->
		  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
		  <!-- ToEat.ly -->
		  <link rel="stylesheet" type="text/css" href="/static/css/maps.css">
		  <script src="/static/js/maps.js"></script>
      <script src="/static/js/app.js"></script>
		  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	 </head>
   <body>
	    <div class="container">
			   <div id="info" class="column-left"></div>
         <div id="photos" class="column-right"></div>
		  </div>
      <script id="name-template" type="text/template"> <%= name %> </script>
    </body>
</html>
